@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welkom terug</h1>
    <label for="email" class="logintext">Email</label><br/>
    <input type="text" id="email" name="email"><br><br>
    <label for="wachtwoord" class="logintext">Wachtwoord</label><br/>
    <input type="text" id="wachtwoord" name="wachtwoord"><br><br>
    <p>Heeft u nog geen account? <a href="~/Home/Register">Registreer!</a></p>
    <input type="submit"  class="loginbutton" value="Login">
</div>