@{
    ViewData["Title"] = "Registreer";
}


<h1 class="display-4">Registreer hier!</h1>
<br/>
<p>Al een account? <a href="~/Home/Login">Login</a></p>
<a href="#" class="fb btn">
    <i class="fa fa-facebook fa-fw"></i> Registreren met Facebook
</a> 
<br/>
<br/>
<label for="Vnaam" class="ProfileEditText">Voornaam</label><label for="Anaam" class="Atext">Achternaam</label>
<br />
<input type="text" id="Vnaam" name="Vnaam">
<input type="text" id="Anaam" name="Anaam">
<br />
<br />
<label for="email" class="ProfileEditText">Email</label>
<br />
<input type="text" id="email" name="email" class="ProfileEditImput">
<br>
<br>
<label for="wachtwoord1" class="ProfileEditText">Wachtwoord</label>
<br />
<input type="text" id="wachtwoord1" name="wachtwoord" class="ProfileEditImput">
<br>
<br>
<label for="wachtwoord2" class="ProfileEditText">Wachtwoord overnieuw</label>
<br />
<input type="text" id="wachtwoord2" name="wachtwoord" class="ProfileEditImput">
<br>
<br>
<input type="submit" class="updatebutton" value="Registreer">