@model StarRocks.Models.EventRegistrationViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Weet u zeker dat u wilt inschrijven?</h1>

<form method="post">
    <div class="Login">
        <input type="submit" asp-controller="EventRegistration" asp-action="Create" class="loginbutton" value="Inschrijven">
        <input type="submit" asp-controller="Event" asp-action="Index" class="loginbutton" value="Annuleren">
        <input type="hidden" asp-for="EventID" />
        <input type="hidden" asp-for="AccountID" /><br /><br /><br />
        <img src="https://www.scalacollege.nl/web/images/uploads/inschrijven.gif" alt="Inschrijven" />
    </div>
</form>