@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-5 AdminTitle">Admin Profiel</h1>
<ul class="AdminNav">
    <li class="AdminControl"><a class="AdminLink" asp-area="" asp-controller="Admin" asp-action="AdminProfile">Profiel</a></li>
    <li class="AdminControl"><a class="AdminLink" asp-area="" asp-controller="Admin" asp-action="AdminInbox">Inbox</a></li>
    <li class="AdminControl"><a class="AdminLink" asp-area="" asp-controller="Event" asp-action="test">Events</a></li>
</ul>
<div class="ProfileText">
    <label for="Vnaam" class="ProfileEditText">Voornaam</label>
    <br />
    <label for="Anaam" class="ProfileEditText">Achternaam</label>
    <br />
    <label for="email" class="ProfileEditText">Email</label>
    <br>
    <label for="wachtwoord1" class="ProfileEditText">Wachtwoord</label>
    <br />
    <label for="wachtwoord2" class="ProfileEditText">Wachtwoord overnieuw</label>
</div>

<div class="ProfileImput">
    <input type="text" name="Vnaam" class="ProfileEditImput"><br /><br />
    <input type="text" name="Anaam" class="ProfileEditImput"><br /><br />
    <input type="text" id="email" name="email" class="ProfileEditImput"><br /><br />
    <input type="text" id="wachtwoord1" name="wachtwoord" class="ProfileEditImput"><br /><br />
    <input type="text" id="wachtwoord2" name="wachtwoord" class="ProfileEditImput"><br /><br />
</div>
<input type="submit" class="updatebutton" value="Profiel updaten">